
@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Montserrat:ital,wght@0,500;1,500&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;   
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}


h1 {
    font-family: 'roboto', sans-serif;
    font-size: 90px;
    font-weight: 950;
    text-align: center;
    margin-top: 20px;
    color: #fff; 
}

h3{
    font-family: 'roboto', sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 30PX;
    margin-top: 40px;
    text-align: center;
    color: #fff
    width: 100px;
}

p{background-color: orangered;
    display: block;
}

.boxpai{
    background-color: green
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
   
   
}   

#boxdado{

    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    margin-top: 20px;

}

#dado{

    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 160px;


   
}

#imputs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    font-weight: bold;
    margin: 20px;
    border-radius: 5px;
    font-size: 20px;
    color: aliceblue;
  
}

#boxtitle {
    font-family: 'roboto', sans-serif;
    color:#fff;
    display: block;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin-top: 90px;
    border-radius: 5px;
}
#minimo {
    display: inline-block;
    color: white;
    background-color: #444;
    width: 300px;
    height: 60px;
    font-size: 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'roboto', sans-serif;
    align-items: center;
    justify-content: center;
}
#maximo {
    display: inline-block;
    background-color: #444;
    width: 300px;
    height:60px;
    color: #fff;
    font-size: 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'roboto', sans-serif;
    margin-left: 60px;
    align-items: center;
    justify-content: center;

}

h4 {
   
    font-family: 'roboto', sans-serif;
    color: black;
    background-color: chartreuse;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
    margin: auto;

}   

#button {
    display: block;
    background-color: chartreuse;
    width: 340px;
    height: 72px;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 45%;
    border-radius: 10px;

}